.mobileFooter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobileFooter1stSection {
  background-image: url(../../../assets/mobile/footer/footer_mob_cover.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 130vw;
}

.footerSocialMedia {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.footerMainText {
  /* border: solid 2px green; */
  width: 50vw;
}

.socialMediaBtnsContainer {
  /* border: solid 2px pink; */
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 5%;
}

.socialMediaLogo {
  /* border: solid 2px blue; */
  width: 6vw;
  height: fit-content;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.mobileFooter2ndSection {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.footerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.footerContact h3 {
  color: var(--white);
  font-size: 4vw;
}

.footerContactMails {
  margin-top: 9%;
}

.footerContactMails a {
  color: var(--white);
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.footerContactAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-top: 9%;
}

.footerContactAddress h4 {
  color: var(--white);
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 2%;
}

.footerContactAddress p {
  color: var(--white);
  font-size: 2.5vw;
  font-weight: normal;
  margin-bottom: 1%;
}

.footerTerms {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 5%;
}

.footerTerms a {
  color: var(--white);
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 3%;
  text-decoration: none;
}