.mobileFooter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobileFooter1stSection {
  background-image: url(../../../assets/mobile/footer/footer_mob_cover.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}