.homepageMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage1stSection {
  background-image: url(../../assets/mobile/home/home_mob_1st_cover.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 11rem;
  padding-bottom: 60vh;
}

.home1stSectionTitleMob {
  align-self: center;
  width: 52vw;
  margin-right: 40px;
  margin-top: 40%;
}

.home1stSectionTitleDesktop {
  align-self: center;
  margin-top: 10%;
  width: 45vw;
}

.storesBtnsContainer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52vw;
  margin-right: 40px;
  margin-top: 2.5vh;
}

.storeBtn {
  width: 45%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.homepage2ndSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
}

.home2ndSectionStepsMob {
  width: 50vw;
  margin-top: 7vh;
}

.home2ndSectionStepsDesktop {
  width: 38vw;
  margin-top: 5%;
}

.home2ndSectionTitleMob {
  width: 65vw;
  margin-top: 12%;
}

.home2ndSectionTitleDesktop {
  width: 63vw;
  margin-top: 3%;
}

.homeDownloadAppBtn {
  align-self: center;
  width: 20%;
  margin-top: 5%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.homepage3rdSection {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.homepage3rdSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ngCardOutOfBox {
  width: 42vw;
}

.homepage3rdSectionTextMob {
  width: 60vw;
  margin-top: 5%;
}

.homepage4thSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.homeMob4thSectionCover {
  width: 45vw;
  margin-left: 1.5rem;
}

.homeDesktop4thSectionCover {
  width: 50vw;
  margin-left: 1.5rem;
}

.homepage5thSection {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 0;
}

.homepage5thSectionWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ngCard {
  width: 42vw;
}

.homepage5thSectionTextMob1 {
  width: 56vw;
  margin-top: 5%;
}

.homepage5thSectionWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 12%;
}

.transferCards {
  width: 42vw;
}

.homepage5thSectionTextMob2 {
  width: 56vw;
  margin-top: 5%;
}

@media screen and (min-width: 1080px) {
  .home1stSectionTitleMob, .home2ndSectionStepsMob, .home2ndSectionTitleMob, .homeMob4thSectionCover {
    display: none;
  }

  .homepage1stSection {
    background-image: url(../../assets/desktop/home/home_desktop_1st_cover.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 38%;
  }

  .homepageQrCode {
    align-self: center;
    width: 9%;
    margin-top: 4%;
    margin-bottom: 3%;
  }

  .storesBtnsContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0;
  }

  .storeBtn {
    width: 10vw;
    margin-top: 8%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .homeDownloadAppBtn {
    align-self: center;
    width: 8%;
    margin-top: 4.5%;
  }

  .homepage3rdSectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .ngCardOutOfBox {
    width: 21vw;
  }

  .homepage3rdSectionTextMob {
    width: 32vw;
    margin: 0;
  }

  .homepage5thSectionWrapper1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .ngCard {
    width: 30vw;
  }

  .homepage5thSectionTextMob1 {
    width: 37vw;
    margin-top: 0;
  }

  .homepage5thSectionWrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .transferCards {
    width: 30vw;
  }
  
  .homepage5thSectionTextMob2 {
    width: 37vw;
    margin-top: 0;
  }
}

@media screen and (max-width: 1079px) {
  .home1stSectionTitleDesktop, .homepageQrCode, .home2ndSectionStepsDesktop, .home2ndSectionTitleDesktop, .homeDesktop4thSectionCover {
    display: none;
  }
}