.homepageMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepageFirstSection {
  background-image: url(../../assets/mobile/home/home_mob_1st_cover.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 11rem;
  padding-bottom: 60vh;
}

.homepage1stTitle {
  align-self: center;
  width: 52vw;
  margin-right: 40px;
  margin-top: 40%;
}

.storesBtnsContainer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52vw;
  margin-right: 40px;
  margin-top: 2.5vh;
}

.storeBtn {
  width: 48%;
}

.homepageSecondSection {
  background-color: green;
}