@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}

.privacyPolicyPage {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  padding: 2rem;
}

.privacyPolicyDoc {
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  line-height: 22px;
  width: 90%;
  height: 580px;
  overflow-x: auto;
  padding: 2rem;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}

.privacyPolicyDoc::-webkit-scrollbar {
  width: 4px;
}

.privacyPolicyDoc::-webkit-scrollbar-thumb {
  background: var(--purple);
}


.privacyPolicyDoc h1 {
  font-size: 18px;
}

.privacyPolicyDoc h2 {
  font-size: 17px;
}

.privacyPolicyDoc h3 {
  font-size: 16px;
}

.privacyPolicyDoc p {
  font-size: 15px;
}

.privacyPolicyDoc ol, .privacyPolicyDoc ul {
  font-size: 15px;
  margin-left: 3rem;
}