.privacyPolicyPage {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  padding: 2rem;
}

.privacyPolicyDoc {
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  line-height: 22px;
  width: 90%;
  height: 580px;
  overflow-x: auto;
  padding: 2rem;
}

.privacyPolicyDoc::-webkit-scrollbar {
  width: 4px;
}

.privacyPolicyDoc::-webkit-scrollbar-thumb {
  background: var(--purple);
}


.privacyPolicyDoc h1 {
  font-size: 18px;
}

.privacyPolicyDoc h2 {
  font-size: 17px;
}

.privacyPolicyDoc h3 {
  font-size: 16px;
}

.privacyPolicyDoc p {
  font-size: 15px;
}

.privacyPolicyDoc ol, .privacyPolicyDoc ul {
  font-size: 15px;
  margin-left: 3rem;
}