.desktopNavbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.selectedLink {
  background-color: black;
  color: #7D2CFF;
  border: none;
  border-bottom: solid 1px #7D2CFF;
  height: fit-content;
  width: fit-content;
  font-size: 1.9rem;
  font-weight: bold;
  transition-duration: 0.9s;
}

.link {
  background-color: black;
  color: var(--white);
  border: none;
  height: fit-content;
  width: fit-content;
  font-size: 1.9rem;
  font-weight: bold;
  transition-duration: 0.5s;
}

.link:hover {
  color: var(--purple);
  cursor: pointer;
}