.mobileHeader {
  border: solid 2px ghostwhite;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 1% 2%;
}

.jfBtn {
  background-color: red;
}