.mobileNavbar {
  background-color: var(--purple);
  border-radius: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: fit-content;
  position: absolute;
  margin-top: 7rem;
  margin-right: 6vw;
  z-index: 2;
  padding: 0 3%;
}

.link {
  background-color: var(--purple);
  border: none;
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10% 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.selectedLink {
  color: #000000;
  background-color: var(--purple);
  border: none;
  border-bottom: solid 1px #000000;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10% 0;
}


@media screen and (min-width: 1080px) {
  .mobileNavbar {
    display: none;
  }
}