@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --purple: #7D2CFF;
  --green: #01CA30;
  --grey: #C2C2C2;
}

html {
  font-size: 10px;
  background-color: var(--black);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatMobile {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes floatDesktop {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-40px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}